link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
style.
	body {
		padding-bottom: 30px; }
script(src="/libs/jquery/dist/jquery-1.9.1.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")